# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/

# PyInstaller
build/
dist/
*.exe

# Local profile user overrides (optional, keep default profiles.json if desired)

# Internal docs / notes
newfeatures.md
recent_models.json
app_config.json
releasedraftexample.md